<!-- FILEPATH: /Users/user/Carlos/Projects/gatojazz_store/app/views/home/index.html.erb -->
<h1>Welcome to the Home Page!</h1>
<p>This is the landing page of our website.</p>
<%= icon('fa-brands', 'font-awesome')%>
<%= icon('fa-solid', 'user-secret')%>
